<div class="card">
  <div class="card-body">
    <h3>
      Programs
    </h3>
    <div class="card">
      <div class="card-body">
        <ul>
          <li *ngFor="let program of programs">
            {{program.name}}<button class="btn btn-primary" (click)="exercise(program._id)">Exercise</button>
            <button class="btn btn-outline-danger" (click)="edit(program._id)">Edit</button>
            <button class="btn btn-outline-success" (click)="toggleReminder(program.name)">Edit</button>

          </li>
        </ul>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="newProgram()">New Program</button>
</div>







  <app-modal
    [show]="showModal"

    [closeCallback]="toggleModal"
  >
    <h3>Set reminder for {{program}}</h3>


    <app-reminder [name]="program"></app-reminder>
  </app-modal>

