<div class="card">

  <h3 class="card-header container">Programs</h3>
  <div class="card-body">





    <div class="container">
      <div *ngFor="let program of programs" class="item">

        <div class="row">

          <p>{{program.name}}</p>
          <button class="btn btn-outline-success" (click)="exercise(program._id)"><mat-icon svgIcon="dumbbell"></mat-icon></button>
          <button class="btn btn-outline-info" (click)="edit(program._id)"><mat-icon svgIcon="playlist-edit"></mat-icon></button>
          <button class="btn btn-outline-warning" (click)="toggleReminder(program.name)"><mat-icon svgIcon="alarm"></mat-icon></button>
          <button class="btn btn-outline-danger" (click)="deleteProgram(program._id)"><mat-icon svgIcon="delete"></mat-icon></button>


        </div>
      </div>
    </div>
  </div>











  <button class="btn btn-primary" (click)="newProgram()">New Program</button>
</div>







  <app-modal
    [show]="showModal"

    [closeCallback]="toggleModal"
  >
    <h3>Set reminder for {{program}}</h3>


    <app-reminder [name]="program"></app-reminder>
  </app-modal>

