
<div class="card">
  <div class="card-body">
    <form class="example-form">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input type="text" class="form-control" name="ingredient"  #ingredient  matInput [formControl]="searchTerm" [matAutocomplete]="auto" >
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of searchResult" [value]="item">
            {{ item }}
          </mat-option>
        </mat-autocomplete>
        <div class="form-group">
          <button (click)="addIngredient(ingredient.value)"  class="btn btn-primary">Add Ingredient</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card" *ngIf="ingredients.length>0">
  <div class="card-body">
    <h3>Ingredients</h3>
    <div *ngFor="let item of ingredients" >
      <h4>{{item}}</h4>
    </div>
  </div>
  <button (click)="searchForRecipes(ingredients)"  class="btn btn-primary">Search for Recipes</button>
</div>
