
<div class="card">
  <div class="card-header">
    <h3>Cooking</h3>
  </div>
  <div class="card-body container">
    <form class="example-form" [formGroup]="searchForm">
      <div class="form-group"  >
        <mat-form-field class="example-full-width">
          <input type="text" class="form-control" name="ingredient"  #ingredient  matInput formControlName="searchTerm" [matAutocomplete]="auto" >
          <mat-hint align="end">Tell me what you have</mat-hint>
          <mat-error *ngIf="hasError('searchTerm', 'required')">Cant add empty ingredient</mat-error>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of searchResult" [value]="item">
            {{ item }}
          </mat-option>
        </mat-autocomplete>

        <button (click)="addIngredient()"  class="btn btn-primary " [disabled]="!searchForm.valid" >Add Ingredient</button>
      </div>
    </form>
  </div>



  <div class="card-body">

    <div *ngFor="let item of ingredients" class="item">
      <div class="row">
        <button class="grow btn btn-outline-dark" [disabled]="true"><mat-icon svgIcon="food-apple-outline"></mat-icon>{{item}}</button>
        <button (click)="removeIngredient(item)"  class="btn btn-outline-danger"><mat-icon svgIcon="delete"></mat-icon></button>
      </div>
    </div>

  </div>

  <div>


  </div>
  <button (click)="searchForRecipes(ingredients)" [disabled]="ingredients.length<1" class="btn btn-primary">Search for Recipes</button>


</div>

<app-recipes *ngFor="let recipe of recipesResults" [recipe]="recipe">

</app-recipes>

<div class="card">
  <h4 class="card-header">
    Cookbook
  </h4>

  <button (click)="getCookBook()"  class="btn btn-outline-primary">Toggle Cookbook</button>

  <app-recipes *ngFor="let recipe of cookbook" [recipe]="recipe">


  </app-recipes>
</div>

