
<div class="card">
  <div class="card-body">
    <form class="example-form" [formGroup]="searchForm">
      <div class="form-group"  >
        <mat-form-field class="example-full-width">
          <input type="text" class="form-control" name="ingredient"  #ingredient  matInput formControlName="searchTerm" [matAutocomplete]="auto" >
          <mat-hint align="end">Tell me what you have</mat-hint>
          <mat-error *ngIf="hasError('searchTerm', 'required')">Cant add empty ingredient</mat-error>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of searchResult" [value]="item">
            {{ item }}
          </mat-option>
        </mat-autocomplete>
        <button (click)="addIngredient()"  class="btn btn-primary" [disabled]="!searchForm.valid" >Add Ingredient</button>
        <div class="form-group">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card" *ngIf="ingredients.length>0">
  <div class="card-body">
    <h3>Ingredients</h3>
    <div *ngFor="let item of ingredients" >
      <h4>{{item}}</h4>
      <button (click)="removeIngredient(item)"  class="btn btn-danger">Remove Ingredient</button>

    </div>
  </div>
  <div>


  </div>
  <button (click)="searchForRecipes(ingredients)"  class="btn btn-primary">Search for Recipes</button>


</div>

<app-recipes *ngFor="let recipe of recipesResults" [recipe]="recipe">

</app-recipes>

<button (click)="getCookBook()"  class="btn btn-primary">Open Cookbook</button>
<app-recipes *ngFor="let recipe of cookbook" [recipe]="recipe">


</app-recipes>

