<p>
  program works!
</p>
<div class="card">

<form class="example-form" [formGroup]="programForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title"  formControlName="title"   autocomplete="off" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Exercise" aria-label="Exercise" matInput  [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
  <button class="btn btn-primary" (click)="addExercise()" [disabled]="!myControl.value">+Add to program</button>
  <div class="card-body">

    <div class="container">
      <div *ngFor="let exercise of program">{{exercise.name}}</div>
    </div>

  </div>



  <button class="btn btn-primary" (click)="saveProgram()" [disabled]="!isProgramValid()" >Save</button>

</div>


